<h1>Foods#show</h1>
<section class = "">
<div class="">
  <h2>Food Information</h2>
  <p>Food Name: <strong><%= @food.name%></strong></p>
  <p>Measurment Unit: <strong><%=  @food.measurement_unit%></strong></p>
  <p>Quantity: <strong><%= @food.price%></strong></p>
  <p>Unit Price: <strong><%= @food.quantity%></strong></p>
</div>
</section>
