table {
  border-collapse: collapse;
  font-family: cursive;
  font-size: 1.2rem;
}

section h1 {
  text-align: center;
}

.container {
  display: flex;
}

.delete:hover {
  color: white;
}

.box {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.box1 {
  width: 50%;
}

.box2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.foodIndex, .recipe, .generalIndex{
  width: 80vw;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(248, 213, 213, 0.73);
  border-radius: 10px;
  padding: 1rem;
}

.publicRecipe, .foodShow {
  width: 60vw;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(248, 213, 213, 0.73);
  border-radius: 10px;
  padding: 1rem;
}

.foodShow {
  width: 30vw;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(248, 213, 213, 0.73);
  border-radius: 10px;
  padding: 1rem;
}
.recipeShow, .recipeNew, .recipeEdit {
  width: 45vw;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(248, 213, 213, 0.73);
  border-radius: 10px;
  padding: 1rem;
}

.foodForm {
  width: 40%;
}

.card-body {
  background-color: #AA89C4;
}

.card-title {
  color: #03045e;
}

.publicBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.generalP {
  color: #03045e;
}

.header {
  margin-bottom: 3rem;
}

.navbar {
  background-color: rgba(248, 144, 144, 0.73);
}

.nav-link {
  color: #03045e !important;
  font-weight: bolder;
}

.foodShowDiv{
  color: #03045e;
  display: flex;
  flex-direction: column;
}