table {
  border-collapse: collapse;
  font-family: cursive;
  font-size: 1.2rem;
}

section h1 {
  text-align: center;
}

.container {
  display: flex;
}

.delete:hover {
  color: white;
}

.box {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.box1 {
  width: 50%;
}

.box2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.foodIndex, .recipe {
  width: 80vw;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(248, 213, 213, 0.73);
  border-radius: 10px;
  padding: 1rem;
}

.foodForm {
  width: 40%;
}